<div class="header p-5 d-flex justify-content-between">
    <div>
        <h1 class="fw-bold">Hello, {{home.profileData.name}}</h1>
        <p class="fs-4 text-secondary">Welcome to CampusCare!!</p>
    </div>
    <div class="date flex-center gap-3">
        <p class="fs-4 mb-0 pb-0">16 May, 2024</p>
        <div class="gray iconcontainer">
            <i class="bi bi-calendar2-week fs-3"></i>
        </div>
    </div>
</div>
<hr>
<h2>Student</h2>
<div id="chart" class="chart1" width="50rem">Charts here</div>
