<h1 class="text-center fw-bold mt-5 m-4" style="color: var(--test-black);">All Grievances</h1>
<!-- <nav aria-label="Page navigation example">
  <ul class="pagination" >
    <li class="page-item" >
      <a class="page-link"  aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" >1</a></li>
    <li class="page-item"><a class="page-link" >2</a></li>
    <li class="page-item"><a class="page-link" >3</a></li>
    <li class="page-item">
      <a class="page-link"  aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav> -->
<div class="w-100 overflow-auto">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Student</th>
        <th scope="col">Hostel</th>
        <th scope="col">RoomNo</th>
        <th scope="col">Date</th>
        <th scope="col">Title</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in home.allGrieviances">
        <th scope="row">{{$index+1}}</th>
        <td>{{x.name}}</td>
        <td>{{x.hostel_name}}</td>
        <td>{{x.room_number}}</td>
        <td>{{x.date}}</td>
        <td>{{x.title}}</td>
        <td>{{x.message}}</td>
      </tr>
    </tbody>
  </table>
  
</div>
