<div class="main p-2 pt-4">
    <h1 class="text-center animateZoom" style="color: var(--test-black);">Assign Roles</h1>
    <div class="container d-flex flex-column gap-3 mt-5 mb-5 animateUp">
        <div class="faculty box-shadow d-flex flex-wrap justify-content-between gap-4 rounded p-3"
            style="background-color: var(--white-bg-2);" ng-repeat="x in  dean.faculity_data">

            <div class="d-flex gap-4">
                <img src="{{main.imgurl}}/{{x.image}}" alt="">
                <div class="info">
                    <h3 class="m-0" style="color: var(--test-black);">{{x.name}}</h3>
                    <p class="m-0 " style="color: var(--gray-dark);">{{x.email}}</p>
                </div>
            </div>
            <div class="d-flex justify-content-between" style="width: 70%;">
                <div class="d-flex gap-3 justify-content-center align-item-center">
                    <div class="role bg-info text-white p-2 m-auto" style="border-radius: 1.5rem;"
                        ng-repeat="y in x.role">
                        {{y.role}} <i class="bi bi-x-lg" ng-click="dean.removeRole(x.id,y.id)" role="button"></i>
                    </div>
                </div>
                <select class="form-select form-select-solid w-25 m-1 fs-6"  ng-click="dean.changeRole(x.id,x.email)" id={{x.email}}
                    style="background-color: var(--white-bg-1); color: var(--test-black);" name="qualification"
                    required>
                    <option ng-repeat="z in dean.roles" ng-disabled="{{x.active_roles.includes(z.value)}}" ng-selected="{{x.active_roles.includes(z.value)}}" value="{{z.id}}">{{z.value}}</option>
                </select>
            </div>
        </div>

    </div>

</div>