<h1 class="text-center p-4 animateZoom" style="color: var(--test-black);" ng-show="warden.grieviances.length">Pending grievances</h1>
<h1 class="text-center p-4 animateZoom" style="color: var(--test-black);" ng-hide="warden.grieviances.length">No Pending grievance</h1>
<div class="d-flex flex-column gap-3 mb-5">
    <div ng-repeat="x in warden.grieviances" class="faculty">
        <div class="box-shadow d-flex flex-column flex-md-row flex-wrap justify-content-between gap-4 rounded p-3 animateUp"
            style="background-color: var(--white-bg-2);" ng-click="main.dnone(x.id)">
            <div class="d-flex gap-4" role="button">
                <div class="info m-auto" style="width: 16rem;">
                    <h3 class="m-0 p-1" style="color: var(--test-black);">{{x.title.charAt(0).toUpperCase() + x.title.slice(1)}}</h3>
                    <p class="m-0 p-1" style="color: var(--gray-dark);">{{x.date}}</p>
                    <hr>
                    <p class="m-0 p-1 fs-5" style="color: var(--gray-dark);">{{x.name}}</p>
                    <p class="m-0 p-1 fs-5" style="color: var(--gray-dark);">Room No: {{x.room_number}}</p>
                </div>
            </div>
            <div class="d-flex gap-3 col-12 col-md-5  " role="button">
                <p class="m-auto" style="color: var(--gray-dark);">
                    {{x.description}}
                </p>
            </div>
            <div role="button">
                <img class="rounded"
                    src="{{main.imgurl}}/{{x.image}}"
                    alt="" style="width: 20rem; height: 12rem;">
            </div>
        </div>
        <div class="p-3 w-100 animateDown d-flex gap-4" id="{{x.id}}" 
            style="background-color: var(--white-bg-2); color: var(--test-black);" >
            <div ng-hide="{{x.status}}">
                <h4 style="color: var(--primary);">{{x.message}}</h4>
            </div>
            <div ng-show="{{x.status}}">
                <button class="btn btn-primary" ng-click="warden.forward(x.id)"><i class="bi bi-fast-forward"></i> Forward</button>
                <button class="btn btn-success" data-bs-toggle="modal" ng-click="warden.reject(x.id)"
                    data-bs-target="#reject"><i class="bi bi-check2-circle"></i> Resolved</button>
            </div>
           
        </div>
    </div>
</div>
<div class="modal fade" id="reject" tabindex="-1" aria-labelledby="rejectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: var(--white-bg-2); color: var(--test-black);">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="rejectLabel">Reject Grievance</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form ng-submit="warden.rejectGrievance()">
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control border" ng-model="warden.rejectdata.message"
                            id="message-text" required></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            id="close">Close</button>
                        <button type="submit" class="btn btn-success">Send</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>