<h1 class="text-center p-4" style="color: var(--test-black);">Grievance history</h1>
<div class="d-flex flex-column gap-3">
    <div class="faculty box-shadow d-flex  flex-column flex-md-row flex-wrap justify-content-between gap-4 rounded p-3 animateUp"
        style="background-color: var(--white-bg-2);">
        <div class="d-flex gap-4">
            <div class="info m-auto">
                <h3 class="m-0 p-1" style="color: var(--test-black);">Title of Grievance</h3>
                <p class="m-0 p-1" style="color: var(--gray-dark);">12/10/2024</p>
            </div>
        </div>
        <div class="d-flex gap-3 col-12 col-md-6 justify-content-center align-item-center">
            <p class="m-auto" style="color: var(--gray-dark);">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Nisi culpa exercitationem, ratione iure ducimus minus aperiam ex pariatur praesentium autem consequuntur
                quasi rerum esse illum iste soluta sunt eveniet. Nulla!
                Adipisci veritatis in odit ipsam consectetur culpa quidem ex at placeat beatae incidunt aperiam, cum
                laborum esse aliquam, cupiditate mollitia pariatur molestias ad hic corporis debitis quod dolor? Autem,
                placeat!</p>
        </div>
        <div class="status mt-auto mb-auto">
            <h1 class="text-center p-4 fs-3 text-success" style="color: var(--test-black);">Solved</h1>
        </div>
    </div>
    <div class="faculty box-shadow d-flex flex-column flex-md-row flex-wrap justify-content-between gap-4 rounded p-3 animateUp"
        style="background-color: var(--white-bg-2);">
        <div class="d-flex gap-4">
            <div class="info m-auto">
                <h3 class="m-0 p-1" style="color: var(--test-black);">Title of Grievance</h3>
                <p class="m-0 p-1" style="color: var(--gray-dark);">12/10/2024</p>
            </div>
        </div>
        <div class="d-flex gap-3 col-12 col-md-6 justify-content-center align-item-center ">
            <p class="m-auto" style="color: var(--gray-dark);">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Nisi culpa exercitationem, ratione iure ducimus minus aperiam ex pariatur praesentium autem consequuntur
                quasi rerum esse illum iste soluta sunt eveniet. Nulla!
                Adipisci veritatis in odit ipsam consectetur culpa quidem ex at placeat beatae incidunt aperiam, cum
                laborum esse aliquam, cupiditate mollitia pariatur molestias ad hic corporis debitis quod dolor? Autem,
                placeat!</p>
        </div>
        <div class="status mt-auto mb-auto">
            <h1 class="text-center p-4 fs-3 text-danger" style="color: var(--test-black);">Rejected</h1>
        </div>
    </div>
</div>