<h1 class="text-center p-4 animateZoom" style="color: var(--test-black);" ng-show="student.pendingGrievance.length">Pending grievances</h1>
<h1 class="text-center p-4 animateZoom" style="color: var(--test-black);" ng-hide="student.pendingGrievance.length">No Pending grievance</h1>
<div class="d-flex flex-column gap-3 mb-5">
    <div style="background-color: var(--white-bg-2);" class="faculty box-shadow" role="button" ng-repeat="x in student.pendingGrievance">
        <div  ng-click="main.dnone('stat'+x.id)"  class="d-flex flex-column flex-md-row flex-wrap justify-content-between gap-4 rounded p-3 animateUp">
        <div class="d-flex gap-4 ">
            <div class="info m-auto"  style="width: 16rem;">
                <h3 class="m-0 p-1" style="color: var(--test-black);">{{x.title.charAt(0).toUpperCase() + x.title.slice(1)}}</h3>
                <p class="m-0 p-1" style="color: var(--gray-dark);">{{x.date}}</p>
            </div>
        </div>
        <div class="d-flex gap-3 col-12 col-md-5 justify-content-center align-item-center ">
            <p class="m-auto" style="color: var(--gray-dark);">{{x.description}}</p>
        </div>
        <div>
            <img class="rounded"
                src="{{main.imgurl}}/{{x.image}}"
                alt="" style="width: 20rem; height: 10rem;">
        </div>
    </div>
        <div class="pt-5 w-100 animateDown d-none" id="stat{{x.id}}" >
            <div class="d-flex justify-content-center">
                <div class="stepper-wrapper">
                    <div class="stepper-item completed"  ng-repeat="y in x.status track by $index">
                      <div class="step-counter">{{$index+1}}</div>
                      <div class="step-name text-center" style="color: var(--test-black);">{{y}}</div>
                    </div>
                  </div>     
            </div>    
        </div>
    </div>
   
</div>
