<div class="mainContainer d-flex w-100 h-100 bg-white">
    <nav class="sideBar resnav d-flex flex-column gap-3  border">
        <div class="logo p-2 mb-4 pt-4 d-flex align-item-center justify-content-between">
            <h2 class="heading m-auto text-primary"><i class="fa-solid fa-graduation-cap"></i> Campus Care </h2>
            <i class="fa-solid fs-3 m-auto fa-bars" type="button" onclick="hidenav()"></i>
        </div>
        <div>
            <div ng-repeat="x in home.nav"> 
                <a class="text-secondary d-flex justify-content-between" type="button" ng-click="home.toggleNav(x.id)" ng-show="x.child.length"> <span><i
                            class="bi {{x.icon}}"></i>&nbsp;&nbsp; {{x.title}}</span> <i
                        class="bi bi-chevron-down"></i></a>
                <div class="d-flex childNav d-none flex-column" id="{{x.id}}" ng-show="x.child.length">

                    <a ui-sref-active="active" ng-repeat="y in x.child" style="padding-left: 4.2rem ;" ui-sref="{{y.state}}"><i
                            class="bi {{y.icon}}"></i>&nbsp;&nbsp; {{y.title}}</a>
                </div>
                <div class="w-100 " ng-hide="x.child.length">
                    <a class="text-secondary d-flex justify-content-between" ui-sref-active="active" ui-sref="{{x.state}}"><span><i class="bi {{x.icon}}"></i>&nbsp;&nbsp; {{x.title}}</span></a>
                </div>
            </div>
               
        </div>

    </nav>
    <div>
        <i class="fa-solid fw-bold fs-3 m-4 fa-bars none position-fixed" id="hide" onclick="hidenav()"></i>
    </div>
    <div class="container overflow-auto" ui-view="page">
      
    </div>
    <div class="d-flex flex-column text-center gap-3 p-4 bg-white  border">
        <div class="profile" style="width: 20rem;">
            <img src="{{main.imgurl}}/{{home.profileData.image}}"
                class="rounded-circle" style="width: 8rem; height: 8rem;" alt="profile">
            <h2 class="p-2">{{home.profileData.name.toUpperCase()}}</h2>
            <p class="text-secondary">{{home.profileData.email}}</p>
            <button class="btn btn-primary" ng-click="main.logout()">Logout</button>
        </div>
        <p class="fs-4">Activity</p>
    </div>
</div>
