<div class="header p-5 d-flex justify-content-between">
    <div>
        <li class="nav-item align-items-center textBlack m-2 fs-3 d-flex align-self-center position-absolute togglediv ">
            <i class="fas fa-moon" id="toggle"  onclick="changetheme()"></i>
        </li>
        <!-- <h1 class="fw-bold textBlack">Hello, {{home.profileData.name}}</h1> -->
        <h1 class="fw-bold textBlack">Hello, Prince Kushwaha</h1>
        <p class="fs-4 textSecondaryBlack">Welcome to CampusCare!!</p>
    </div>
    <div class="date flex-center gap-3 d-none d-md-flex">
        <p class="fs-4 textBlack mb-0 pb-0 ">16 May, 2024</p>
        <div class="bgGray iconcontainer">
            <i class="bi textBlack bi-calendar2-week fs-3"></i>
        </div>
    </div>
</div>
<hr>
<br>
<div class="cards d-flex gap-3 gap-md-5 justify-content-center flex-wrap" style="color: var(--test-black);">
    <div class="statics">
        <div class="fs-5 d-flex gap-4 ps-2 ">
            <i class="bi bi-graph-up fs-3"></i>
             <span class="d-flex flex-column">
                <p>Grievances in Progress</p>
                <h2>100</h2>
            </span>
        </div>

    </div>
    <div class="statics">
        <div class="fs-5  d-flex gap-4 ps-2 ">
            <i class="bi bi-shield-fill-check fs-3"></i>
            <span class="d-flex flex-column">
                <p>Resolved Grievances</p>
                <h2>52</h2>
            </span>
        </div>

    </div>
    <div class="statics ">
        <div class="fs-5 d-flex gap-4 ps-2 "> 
            <i class="bi bi-hourglass-bottom fs-3"></i>
            <span class="d-flex flex-column">
                <p>Pending Grievances</p>
                <h2>22</h2>
            </span> 
        </div>

    </div>
    <div class="statics">
        <div class="fs-5 d-flex gap-4 ps-2 ">
             <i class="bi bi-cloud-plus-fill fs-3"></i>
             <span class="d-flex flex-column">
                <p> New <br> Grievances</p>
                <h2>3</h2>
            </span>
        </div>

    </div>
</div>
<br>
<hr>
<div class="charts d-flex flex-wrap gap-5">
    <span class="m-auto">
        <h2 class=" fs-3 ps-3  mb-3" style="color: var(--test-black);">Grievances Registered by Date</h2>
        <div id="chart1" class="chart1 textBlack p-3 " style="width: 35rem; "> </div>
    </span>
    <span class="m-auto">
        <h2 class=" fs-3 ps-3 mb-3" style="color: var(--test-black);">Grievances by Category</h2>
        <div id="chart2" class="chart1 textBlack p-3 " style="width: 31rem;"></div>
    </span>

</div>