
<form class="d-flex flex-column justify-content-center align-items-center " name="student_signupform"
ng-submit="admin.studentRegister()">
<h1 class="text-center fw-bold mt-5 m-4" style="color: var(--test-black);">Student's Registration</h1>

<div>
    <label class="form-label text-white m-1" for="usr_img1"><div class="d-flex justify-content-center mb-2">
        <img id="student_img" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
        class="rounded-circle usr_image" style="width: 150px; height: 150px; object-fit: cover;" alt="img" />
    </div> </label>
    <div class="d-flex justify-content-center">
        <div class="btn  btn-sm">
          
            <input type="file" name="profile_image" accept="image/png, image/gif, image/jpeg"  class="form-control d-none" id="usr_img1" onchange="displaySelectedImage(event, 'student_img')" />
        </div>
    </div>
</div>
<div class="row col-10 col-lg-6">
    <div class="form-floating col-sm-6 col-12 ">
        <input type="text" class="form-control m-1 fs-5" name="first_name" pattern="[A-Za-z]{1}[A-Z a-z]{1,15}" id="fname" placeholder="fname" required>
        <label for="fname" class="ms-3 ">First Name</label>
    </div>
    <div class="form-floating col-sm-6 col-12 ">
        <input type="text" class="form-control m-1 fs-5" name="last_name" pattern="[A-Za-z]{1}[A-Z a-z]{1,15}" id="lname" placeholder="lname">
        <label for="lname" class="ms-3">Last Name</label>
    </div>
</div>
<div class="row col-10 col-lg-6">
    <div class="form-floating col-sm-6 col-12 ">
        <input type="email" class="form-control m-1 fs-5" name="email" id="email" placeholder="email" required>
        <label for="email" class="ms-3">E-mail</label>
    </div>
    <div class="form-floating col-sm-6 col-12 ">
        <input type="text" class="form-control m-1 fs-5" pattern="[6-9]{1}[0-9]{9}" name="phone_no" id="mobNumber1" placeholder="mobileno" required>
        <label for="mobNumber1" class="ms-3">Mobile No.</label>
    </div>
</div>

<div class="row col-10 col-lg-6">
    <div class="form-floating col-sm-6 col-12 ">
        <select class="form-select form-select-solid  m-1 fs-6" id="hostel" name="hostel" required>
            <option disabled selected></option>
            <option value="{{x.key}}" ng-repeat="x in admin.hostels">{{x.value}}</option>
        </select>
        <label for="bloofGroup" class="ms-3">Hostel</label>
    </div>
    <div class="form-floating col-sm-6 col-12 ">
        <input type="text" class="form-control m-1 fs-5" id="roomno" pattern="[0-9]{3}" name="room_no" placeholder="Room No." required>
        <label for="roomno" class="ms-3">Room No.</label>
    </div>
</div>
<div class="row col-10 col-lg-6">
    <div class="form-floating col-sm-6 col-12 ">
        <select class="form-select form-select-solid  m-1 fs-6" id="gender" name="gender" required>
            <option disabled selected></option>
            <option value="{{x.key}}" ng-repeat="x in admin.genders">{{x.value}}</option>
        </select>
        <label for="gender" class="ms-3">Gender</label>
    </div>
    <div class="form-floating col-sm-6 col-12 ">
        <select class="form-select form-select-solid  m-1 fs-6" id="Branch" name="department" required>
            <option disabled selected></option>
            <option value="{{x.key}}" ng-repeat="x in admin.department">{{x.value}}</option>
           
        </select>
        <label for="Branch" class="ms-3">department</label>
    </div>
   
</div>
<div class="form-floating col-10 col-lg-6 p-2 ps-3 m-1">
    <textarea class="form-control fs-5" name="address" placeholder="Address" pattern="[A-Za-z]{1}[A-Z a-z]{1,15}"  id="address" required
        style="height: 100px"></textarea>
    <label for="address" class="fs-5 ms-3 mt-1">Address</label>
</div> 
<div class="row col-10  col-lg-6">
    <div class="form-floating d-flex align-items-center mt-2 col-sm-6 col-12 ">
            <input type="password" class="form-control" name="password_1" id="pass1" placeholder="pass" required>
            <span style="width: 0;"  onclick="visible('pass1','passIcon1')" type="button"><i class="fa-regular text-secondary fa-eye" id="passIcon1" style="position: relative; right: 2.5rem; z-index: 55;"></i></span>
            <label for="pass1" class="ms-3">Password</label>                                
    </div>
    <div class="form-floating d-flex align-items-center mt-2 col-sm-6 col-12 ">
        <input type="password" class="form-control"  name="password_2" id="pass2" placeholder="pass2" required>
        <span style="width: 0;"  onclick="visible('pass2','passIcon2')" type="button"><i class="fa-regular text-secondary fa-eye" id="passIcon2" style="position: relative; right: 2.5rem; z-index: 55;"></i></span>
        <label for="pass2" class="ms-3">Confirm password</label>                                
</div>
</div>
<div class="form-floating col-10 col-lg-6 p-2 ps-3 m-1">
    <button class="btn btn-primary btn-lg col-12" type="submit">Submit</button>
</div>

</form>
